<!DOCTYPE html>
<!--[if IE 8]> <html class="ie8"> <![endif]-->
<!--[if IE 9]> <html class="ie9"> <![endif]-->
<!--[if gt IE 9]><!-->
<html>
<!--<![endif]-->

<head>
  <meta charset="utf-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <%= (distro_key == "openshift-webscale") ? '<meta name="robots" content="noindex,nofollow">' : '' %>
  <%= (distro_key == "openshift-dpu") ? '<meta name="robots" content="noindex,nofollow">' : '' %>
  <%= ((["3.0", "3.1", "3.2", "3.3", "3.4", "3.5", "3.6", "3.7", "3.9", "3.10", "4.1", "4.2", "4.3", "4.4", "4.5", "4.6", "4.7"].include?(version)) && distro_key == "openshift-enterprise") ? '<meta name="googlebot" content="noindex">' : '' %>
  <title><%= [topic_title, subgroup_title].compact.join(' - ') %> | <%= group_title %> | <%= distro %> <%= version %></title>
  <link href="https://assets.openshift.net/content/subdomain.css" rel="stylesheet" type="text/css"/>
  <link href="https://docs.openshift.com/container-platform/4.1/_stylesheets/search.css" rel="stylesheet" media="screen"/>
  <link href="https://docs.openshift.com/container-platform/4.1/_stylesheets/autumn.css" rel="stylesheet"  media="screen"/>
  <link href="https://assets.openshift.net/content/subdomain/touch-icon-precomposed.png" rel="apple-touch-icon-precomposed" type="image/png"/>
  <link href="https://assets.openshift.net/content/subdomain/favicon32x32.png" rel="shortcut icon" type="text/css"/>
  <link href="https://assets.openshift.net/content/osh-nav-footer.css" rel="stylesheet" type="text/css" media="screen"/>
  <link href="https://docs.openshift.com/container-platform/4.1/_stylesheets/docs.css" rel="stylesheet"  media="screen"/>
  <link href="https://docs.openshift.com/container-platform/4.1/_stylesheets/print.css" rel="stylesheet" type="text/css" media="print"/>
  <!--[if IE]><link rel="shortcut icon" href="https://assets.openshift.net/content/subdomain/favicon.ico"><![endif]-->
  <!-- or, set /favicon.ico for IE10 win -->
  <meta content="OpenShift" name="application-name">
  <meta content="#000000" name="msapplication-TileColor">
  <meta content="https://assets.openshift.net/content/subdomain/touch-icon-precomposed.png" name="msapplication-TileImage">

  <!-- Adobe DTM -->
  <script src="//www.redhat.com/dtm.js" type="text/javascript"></script>
  <!-- End Adobe DTM -->

  <script id="trustarc" src="https://static.redhat.com/libs/redhat/marketing/latest/trustarc/trustarc.js"></script>

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined"
        rel="stylesheet">

</head>

<body onload="selectVersion('<%= version %>');">
  <%= render("_templates/_topnav.html.erb", :distro_key => distro_key) %>
  <%
    unsupported_versions = ["3.0", "3.1", "3.2", "3.3", "3.4", "3.5", "3.6", "3.7", "3.9", "3.10", "4.1", "4.2", "4.3", "4.4", "4.5", "4.6", "4.7", "4.8", "4.9", "4.10", "4.11"];

    unsupported_versions_acs = ["3.65", "3.66", "3.67", "3.68", "3.69", "3.70", "3.71", "3.72", "3.73", "3.74", "4.0", "4.1", "4.2", "4.3", "4.4"];

    unsupported_versions_serverless = ["1.28", "1.29", "1.30", "1.31"];

    unsupported_versions_pipelines = ["1.10", "1.11", "1.12"];

    unsupported_versions_gitops = ["1.8", "1.9", "1.10", "1.11"];

    unsupported_versions_builds = [];

    unsupported_versions_origin = ["3.0", "3.1", "3.2", "3.3", "3.4", "3.5", "3.6", "3.7", "3.9", "3.10", "3.11", "4.1", "4.2", "4.3", "4.4", "4.5", "4.6", "4.7", "4.8", "4.9", "4.10", "4.11", "4.12"];

  %>
  <div class="container">
    <button id="hc-open-btn" class="open-btn-sm" onclick="openNav()" aria-label="Open"><span class="fa fa-bars" /></button>
    <ol class="breadcrumb hide-for-print">
      <% if (distro_key == "openshift-webscale" || distro_key == "openshift-dpu") %>
      <span>
        <div class="alert alert-danger" role="alert" id="support-alert">
          <strong>This documentation is work in progress and might not be complete or fully tested.</strong> The latest supported version of version 3 is <a href="https://docs.openshift.com/container-platform/3.11/welcome/index.html" class="link-primary" style="color: #545454 !important;">[3.11]</a>. For the most recent version 4, see <a href="https://docs.openshift.com/container-platform/latest/welcome/index.html" style="color: #545454 !important" class="link-primary">[4]</a>.
        </div>
      </span>
      <% end %>

      <% if (distro_key == "openshift-lightspeed") %>
      <span>
        <div class="alert alert-danger" role="alert" id="support-alert">
          <strong>OpenShift Lightspeed is a Developer Preview release. Developer Preview features are not supported by Red Hat in any way and are not functionally complete or production-ready. Do not use Developer Preview features for production or business-critical workloads. Developer Preview features provide early access to upcoming product features in advance of their possible inclusion in a Red Hat product offering, enabling customers to test functionality and provide feedback during the development process. These features might not have any documentation, are subject to change or removal at any time, and testing is limited. Red Hat might provide ways to submit feedback on Developer Preview features without an associated SLA. This documentation is a work in progress and might not be complete or fully tested.</strong></a>.
        </div>
      </span>
      <% end %>

      <% if (distro_key == "openshift-service-mesh") %>
      <span>
        <div class="alert alert-danger" role="alert" id="support-alert">
          <strong>OpenShift Service Mesh 3.0 is a Technology Preview feature only. Technology Preview features are not supported with Red Hat production service level agreements (SLAs) and might not be functionally complete. Red Hat does not recommend using them in production. These features provide early access to upcoming product features, enabling customers to test functionality and provide feedback during the development process. This documentation is a work in progress and might not be complete or fully tested.</strong>.
        </div>
      </span>
      <% end %>

      <% if (version == "4.18") && (distro_key != "openshift-webscale" && distro_key != "openshift-dpu" && distro_key != "rosa-hcp") %>
      <span>
        <div class="alert alert-danger" role="alert" id="support-alert">
          <strong>This documentation is a work in progress that aligns to preview releases of the next pending OpenShift Container Platform version 4 minor release. It might not be complete or fully tested, and some features and content might be removed before the next release. </strong>For the most recent released and supported version, see <a href="https://docs.openshift.com/container-platform/latest/welcome/index.html" style="color: #545454 !important" class="link-primary">[4]</a>.
        </div>
      </span>
      <% end %>

      <% if ((unsupported_versions.include? version) && (distro_key == "openshift-enterprise")) %>

      <span>
        <div class="alert alert-danger" role="alert" id="support-alert">
          <strong>You are viewing documentation for a release that is no longer maintained.</strong> The latest supported version of version 3 is <a href="https://docs.openshift.com/container-platform/3.11/welcome/index.html" class="link-primary" style="color: #545454 !important;">[3.11]</a>. For the most recent version 4, see <a href="https://docs.openshift.com/container-platform/latest/welcome/index.html" style="color: #545454 !important" class="link-primary">[4]</a>.
        </div>
      </span>

      <% end %>

      <% if ((unsupported_versions_acs.include? version) && (distro_key == "openshift-acs")) %>

        <span>
          <div class="alert alert-danger" role="alert" id="support-alert">
            <strong>You are viewing documentation for a release that is no longer maintained.</strong> To view the documentation for the most recent version, see the <a href="https://docs.openshift.com/acs/welcome/index.html" style="color: #545454 !important" class="link-primary">latest RHACS docs</a>.
          </div>
        </span>

      <% end %>

      <% if ((unsupported_versions_serverless.include? version) && (distro_key == "openshift-serverless")) %>

        <span>
          <div class="alert alert-danger" role="alert" id="support-alert">
            <strong>You are viewing documentation for a release that is no longer maintained.</strong> To view the documentation for the most recent version, see the <a href="https://docs.openshift.com/serverless/latest/about/about-serverless.html" style="color: #545454 !important" class="link-primary">latest Serverless docs</a>.
          </div>
        </span>

      <% end %>


      <% if ((unsupported_versions_pipelines.include? version) && (distro_key == "openshift-pipelines")) %>

        <span>
          <div class="alert alert-danger" role="alert" id="support-alert">
            <strong>You are viewing documentation for a release that is no longer maintained.</strong> To view the documentation for the most recent version, see the <a href="https://docs.openshift.com/pipelines/latest/about/about-pipelines.html" style="color: #545454 !important" class="link-primary">latest Pipelines docs</a>.
          </div>
        </span>

      <% end %>

      <% if ((unsupported_versions_builds.include? version) && (distro_key == "openshift-builds")) %>

        <span>
          <div class="alert alert-danger" role="alert" id="support-alert">
            <strong>You are viewing documentation for a release that is no longer maintained.</strong> To view the documentation for the most recent version, see the <a href="https://docs.openshift.com/builds/latest/about/overview-openshift-builds.html" style="color: #545454 !important" class="link-primary">latest Builds docs</a>.
          </div>
        </span>

      <% end %>


      <% if ((unsupported_versions_gitops.include? version) && (distro_key == "openshift-gitops")) %>

        <span>
          <div class="alert alert-danger" role="alert" id="support-alert">
            <strong>You are viewing documentation for a release that is no longer maintained.</strong> To view the documentation for the most recent version, see the <a href="https://docs.openshift.com/gitops/latest/understanding_openshift_gitops/about-redhat-openshift-gitops.html" style="color: #545454 !important" class="link-primary">latest GitOps docs</a>.
          </div>
        </span>

      <% end %>

      <% if ((unsupported_versions_origin.include? version) && (distro_key == "openshift-origin")) %>

        <span>
          <div class="alert alert-danger" role="alert" id="support-alert">
            <strong>You are viewing documentation for a release that is no longer maintained.</strong> To view the documentation for the most recent version, see the <a href="https://docs.okd.io/4.14/welcome/index.html" style="color: #545454 !important" class="link-primary">latest OKD docs</a>.
          </div>
        </span>

      <% end %>

      <li class="sitename">
        <a href="/">
          <%= site_name %></a>
      </li>
      <li class="hidden-xs active">
        <% if (distro_key == "openshift-enterprise") %>
          <% if (version == "3.10" || version == "3.11" || version >= "3.3") %>
            <a href="https://docs.openshift.com/container-platform/<%= version %>/welcome/index.html">
              <%= distro %>
            </a>
          <% else %>
            <a href="https://docs.openshift.com/enterprise/<%= version %>/welcome/index.html">
              <%= distro %>
            </a>
          <% end %>
          <select id="version-selector" onchange="versionSelector(this);">
              <option value="4.17">4.17</option>
              <option value="4.16">4.16</option>
              <option value="4.15">4.15</option>
              <option value="4.14">4.14</option>
              <option value="4.13">4.13</option>
              <option value="4.12">4.12</option>
              <option value="4.11">4.11</option>
              <option value="4.10">4.10</option>
              <option value="4.9">4.9</option>
              <option value="4.8">4.8</option>
              <option value="4.7">4.7</option>
              <option value="4.6">4.6</option>
              <option value="4.5">4.5</option>
              <option value="4.4">4.4</option>
              <option value="4.3">4.3</option>
              <option value="4.2">4.2</option>
              <option value="4.1">4.1</option>
              <option value="3.11">3.11</option>
              <option value="3.10">3.10</option>
              <option value="3.9">3.9</option>
              <option value="3.7">3.7</option>
              <option value="3.6">3.6</option>
              <option value="3.5">3.5</option>
              <option value="3.4">3.4</option>
              <option value="3.3">3.3</option>
              <option value="3.2">3.2</option>
              <option value="3.1">3.1</option>
              <option value="3.0">3.0</option>
          </select>
        <% elsif (distro_key == "openshift-acs") %>
            <a href="https://docs.openshift.com/acs/<%= version %>/welcome/index.html">
              <%= distro %>
            </a>
            <select id="version-selector" onchange="versionSelector(this);">
              <option value="4.5">4.5</option>
              <option value="4.4">4.4</option>
              <option value="4.3">4.3</option>
              <option value="4.2">4.2</option>
              <option value="4.1">4.1</option>
              <option value="4.0">4.0</option>
              <option value="3.74">3.74</option>
              <option value="3.73">3.73</option>
              <option value="3.72">3.72</option>
              <option value="3.71">3.71</option>
              <option value="3.70">3.70</option>
              <option value="3.69">3.69</option>
              <option value="3.68">3.68</option>
              <option value="3.67">3.67</option>
              <option value="3.66">3.66</option>
              <option value="3.65">3.65</option>
            </select>
        <% elsif (distro_key == "openshift-serverless") %>
            <a href="https://docs.openshift.com/serverless/<%= version %>/about/about-serverless.html">
              <%= distro %>
            </a>
            <select id="version-selector" onchange="versionSelector(this);">
              <option value="1.34">1.34</option>
              <option value="1.33">1.33</option>
              <option value="1.32">1.32</option>
              <option value="1.31">1.31</option>
              <option value="1.30">1.30</option>
              <option value="1.29">1.29</option>
              <option value="1.28">1.28</option>
            </select>
        <% elsif (distro_key == "openshift-pipelines") %>
            <a href="https://docs.openshift.com/pipelines/<%= version %>/about/about-pipelines.html">
              <%= distro %>
            </a>
            <select id="version-selector" onchange="versionSelector(this);">
              <option value="1.16">1.16</option>
              <option value="1.15">1.15</option>
              <option value="1.14">1.14</option>
              <option value="1.13">1.13</option>
              <option value="1.12">1.12</option>
              <option value="1.11">1.11</option>
              <option value="1.10">1.10</option>
            </select>
         <% elsif (distro_key == "openshift-builds") %>
            <a href="https://docs.openshift.com/builds/<%= version %>/about/overview-openshift-builds.html">
              <%= distro %>
            </a>
            <select id="version-selector" onchange="versionSelector(this);">
              <option value="1.0">1.0</option>
              <option value="1.1">1.1</option>
            </select>
        <% elsif (distro_key == "openshift-gitops") %>
            <a href="https://docs.openshift.com/gitops/<%= version %>/understanding_openshift_gitops/about-redhat-openshift-gitops.html">
              <%= distro %>
            </a>
            <select id="version-selector" onchange="versionSelector(this);">
              <option value="1.14">1.14</option>
              <option value="1.13">1.13</option>
              <option value="1.12">1.12</option>
              <option value="1.11">1.11</option>
              <option value="1.10">1.10</option>
              <option value="1.9">1.9</option>
              <option value="1.8">1.8</option>
            </select>
        <% elsif (distro_key == "openshift-lightspeed") %>
            <a href="https://docs.openshift.com/lightspeed/<%= version %>/about/ols-about-openshift-lightspeed.html">
              <%= distro %>
            </a>
            <select id="version-selector" onchange="versionSelector(this);">
              <option value="1.0tp1">1.0tp1</option>
            </select>
        <% elsif (distro_key == "openshift-service-mesh") %>
            <a href="https://docs.openshift.com/service-mesh/<%= version %>/about/ossm-about-openshift-service-mesh.html">
              <%= distro %>
            </a>
            <select id="version-selector" onchange="versionSelector(this);">
              <option value="3.0.0tp1">3.0.0tp1</option>
            </select>
        <% elsif (distro_key == "openshift-telco") %>
            <a href="https://docs.openshift.com/container-platform-telco/<%= version %>/welcome/index.html">
              <%= distro %>
            </a>
            <select id="version-selector" onchange="versionSelector(this);">
              <option value="4.14">4.14</option>
              <option value="4.15">4.15</option>
            </select>
        <% elsif (distro_key == "openshift-origin") %>
              <a href="https://docs.okd.io/<%= version %>/welcome/index.html">
            <%= distro %>
            </a>
            <select id="version-selector" onchange="versionSelector(this);">
              <option value="latest">latest</option>
              <option value="4.17">4.17</option>
              <option value="4.16">4.16</option>
              <option value="4.15">4.15</option>
              <option value="4.14">4.14</option>
              <option value="4.13">4.13</option>
              <option value="4.12">4.12</option>
              <option value="4.11">4.11</option>
              <option value="4.10">4.10</option>
              <option value="4.9">4.9</option>
              <option value="4.8">4.8</option>
              <option value="4.7">4.7</option>
              <option value="4.6">4.6</option>
              <option value="3.11">3.11</option>
              <option value="3.10">3.10</option>
              <option value="3.9">3.9</option>
              <option value="3.7">3.7</option>
              <option value="3.6">3.6</option>
            </select>
        <% else %>
          <%= breadcrumb_root %>
        <% end %>
      </li>
      <li class="hidden-xs active">
        <%= breadcrumb_group %>
      </li>
      <%= breadcrumb_subgroup_block %>
      <%= breadcrumb_subsubgroup_block %>
      <li class="hidden-xs active">
        <%= breadcrumb_topic %>
      </li>
      <% if (distro_key != "openshift-origin" && distro_key != "openshift-aro" && distro_key != "openshift-acs"  && distro_key != "openshift-serverless"  && distro_key != "openshift-gitops" && distro_key != "openshift-pipelines" && distro_key != "openshift-builds" && distro_key != "openshift-lightspeed" && distro_key != "openshift-service-mesh" && distro_key != "openshift-telco") %>
      <span text-align="right" style="float: right !important">
        <a href="https://github.com/openshift/openshift-docs/commits/<%=
        ((distro_key == "openshift-enterprise") ? "enterprise-#{version}"
          : (distro_key == "openshift-aro") ? "aro-work"
          : (distro_key=="openshift-dedicated" ) ? "dedicated-4"
          : (distro_key == "openshift-telco") ? "enterprise-#{version}"
          : "main" ) %>/<%= repo_path %>"><span class="material-icons-outlined" title="Page history">history</span></a>
        <%
          unless (unsupported_versions.include? version)
        %>
        <a href="https://issues.redhat.com/secure/CreateIssueDetails!init.jspa?pid=12332330&issuetype=1&components=12367614&priority=4&summary=<%=
        ((distro_key == "openshift-enterprise") ? "[enterprise-#{version}]+Issue+in+file+#{repo_path}"
          : (distro_key=="openshift-dedicated" ) ? "[dedicated-4]+Issue+in+file+#{repo_path}"
          : (distro_key=="microshift" ) ? "[microshift-#{version}]+Issue+in+file+#{repo_path}"
          : (distro_key=="openshift-aro" ) ? "[aro-#{version}]+Issue+in+file+#{repo_path}"
          : (distro_key=="openshift-online" ) ? "[online-#{version}]+Issue+in+file+#{repo_path}"
          : (distro_key=="openshift-rosa" ) ? "[rosa-#{version}]+Issue+in+file+#{repo_path}"
          : (distro_key=="openshift-telco" ) ? "[enterprise-#{version}]+Issue+in+file+#{repo_path}"
          : "Issue+in+file+#{repo_path}" ) %>">
          <span class="material-icons-outlined" title="Open an issue">bug_report</span>
        </a>
        <a href="javascript: void(0);" onclick="window.print()"><span class="material-icons-outlined" title="Print page (Save as PDF)">picture_as_pdf</span></a>
        <% if (version == "4.5") %>
        /
        <select onchange="selectLang(this);">
          <option value="en-us">English</option>
          <option value="zh-cn">简体中文</option>
          <option value="ja-jp">日本語</option>
        </select>
        <% end %>
        <% end %>
      </span>
      <% elsif (distro_key == "openshift-acs") %>
        <span text-align="right" style="float: right !important">
          <a href="https://github.com/openshift/openshift-docs/commits/<%= (distro_key == "openshift-acs") ? "rhacs-docs-#{version}" : "rhacs-docs" %>/<%= repo_path %>">
            <span class="material-icons-outlined" title="Page history">history
            </span>
          </a>
          <% unless (unsupported_versions_acs.include? version) %>
            <a href="https://issues.redhat.com/secure/CreateIssueDetails!init.jspa?pid=12331224&issuetype=1&components=12366876&priority=4&summary=<%= "[rhacs-docs-#{version}]+Issue+in+file+#{repo_path}"%>">
              <span class="material-icons-outlined" title="Open an issue">bug_report
              </span>
            </a>
            <a href="javascript: void(0);" onclick="window.print()">
              <span class="material-icons-outlined" title="Print page (Save as PDF)">picture_as_pdf</span>
            </a>
          <% end %>
        </span>
      <% elsif (distro_key == "openshift-serverless") %>
        <span text-align="right" style="float: right !important">
          <a href="https://github.com/openshift/openshift-docs/commits/<%= (distro_key == "openshift-serverless") ? "serverless-docs-#{version}" : "serverless-docs" %>/<%= repo_path %>">
            <span class="material-icons-outlined" title="Page history">history
            </span>
          </a>
          <% unless (unsupported_versions_serverless.include? version) %>
            <a href="https://issues.redhat.com/secure/CreateIssueDetails!init.jspa?pid=12323143&issuetype=1&components=12334030&priority=4&summary=<%= "[serverless-docs-#{version}]+Issue+in+file+#{repo_path}"%>">
              <span class="material-icons-outlined" title="Open an issue">bug_report
              </span>
            </a>
            <a href="javascript: void(0);" onclick="window.print()">
              <span class="material-icons-outlined" title="Print page (Save as PDF)">picture_as_pdf</span>
            </a>
          <% end %>
        </span>
      <% elsif (distro_key == "openshift-pipelines") %>
        <span text-align="right" style="float: right !important">
          <a href="https://github.com/openshift/openshift-docs/commits/<%= (distro_key == "openshift-pipelines") ? "pipelines-docs-#{version}" : "pipelines-docs" %>/<%= repo_path %>">
            <span class="material-icons-outlined" title="Page history">history
            </span>
          </a>
          <% unless (unsupported_versions_pipelines.include? version) %>
            <a href="https://issues.redhat.com/secure/CreateIssueDetails!init.jspa?pid=12317820&issuetype=1&components=12332358&priority=4&summary=<%= "[pipelines-docs-#{version}]+Issue+in+file+#{repo_path}"%>">
              <span class="material-icons-outlined" title="Open an issue">bug_report
              </span>
            </a>
            <a href="javascript: void(0);" onclick="window.print()">
              <span class="material-icons-outlined" title="Print page (Save as PDF)">picture_as_pdf</span>
            </a>
          <% end %>
        </span>
      <% elsif (distro_key == "openshift-builds") %>
        <span text-align="right" style="float: right !important">
          <a href="https://github.com/openshift/openshift-docs/commits/<%= (distro_key == "openshift-builds") ? "build-docs-#{version}" : "build-docs" %>/<%= repo_path %>">
            <span class="material-icons-outlined" title="Page history">history
            </span>
          </a>
          <% unless (unsupported_versions_builds.include? version) %>
            <a href="https://issues.redhat.com/secure/CreateIssueDetails!init.jspa?pid=12317820&issuetype=1&components=12393741&priority=4&summary=<%= "[build-docs-#{version}]+Issue+in+file+#{repo_path}"%>">
              <span class="material-icons-outlined" title="Open an issue">bug_report
              </span>
            </a>
            <a href="javascript: void(0);" onclick="window.print()">
              <span class="material-icons-outlined" title="Print page (Save as PDF)">picture_as_pdf</span>
            </a>
          <% end %>
        </span>
      <% elsif (distro_key == "openshift-gitops") %>
        <span text-align="right" style="float: right !important">
          <a href="https://github.com/openshift/openshift-docs/commits/<%= (distro_key == "openshift-gitops") ? "gitops-docs-#{version}" : "gitops-docs" %>/<%= repo_path %>">
            <span class="material-icons-outlined" title="Page history">history
            </span>
          </a>
          <% unless (unsupported_versions_gitops.include? version) %>
            <a href="https://issues.redhat.com/secure/CreateIssueDetails!init.jspa?pid=12317820&issuetype=1&components=12342156&priority=4&summary=<%= "[gitops-docs-#{version}]+Issue+in+file+#{repo_path}"%>">
              <span class="material-icons-outlined" title="Open an issue">bug_report
              </span>
            </a>
            <a href="javascript: void(0);" onclick="window.print()">
              <span class="material-icons-outlined" title="Print page (Save as PDF)">picture_as_pdf</span>
            </a>
          <% end %>
        </span>
      <% end %>
    </ol>
    <div class="row row-offcanvas row-offcanvas-left">
      <div class="col-xs-8 col-sm-3 col-md-3 sidebar sidebar-offcanvas hide-for-print">
        <div class="row-fluid">
          <div id="btn-close">
            <button id="hc-close-btn" onclick="closeNav()" class="close-btn-sm" aria-label="close"><span class="fa fa-times" /></button>
          </div>
          <div id="hc-search">
            <input id="hc-search-input" type="text" aria-label="search">
            <button id="hc-search-btn" aria-label="search"><span class="fa fa-search" /></button>
          </div>
        </div>
        <%= render("_templates/_nav_openshift.html.erb", :distro_key => distro_key, :navigation => navigation, :group_id => group_id, :topic_id => topic_id, :subgroup_id => subgroup_id, :subtopic_shim => subtopic_shim, :subsubgroup_id => subsubgroup_id) %>
      </div>
      <div id="hc-search-modal">
        <div id="hc-modal-content">
          <span id="hc-modal-close">&times;</span>
          <div id="hc-search-results-wrapper">
            <div id="hc-search-results"></div>
            <div id="hc-search-progress-indicator" class="text-center search-progress-indicator"><i class="fa fa-circle-o-notch fa-spin" style="font-size:42px"></i></div>
            <div class="text-center">
              <button id="hc-search-more-btn">Show more results</button>
            </div>
          </div>
        </div>
      </div>
      <div class="print-logo" style="display:none;">
        <img src="https://www.redhat.com/cms/managed-files/Logo-Red_Hat-OpenShift-A-Standard-RGB_0_0.svg" alt="print logo"/>
      </div>
      <div class="col-xs-12 col-sm-9 col-md-9 main">
        <div class="page-header">
          <h1>
            <%= article_title %>
          </h1>
        </div>
        <% if (distro_key == "openshift-aro" && version == "3") %>
        <font size="+1" color="red">
          <hr>
          <b>Important</b>
        </font>
        <p>Azure Red Hat OpenShift 3.11 <b>will be retired 30 June 2022</b>. Support for creation of new Azure Red Hat OpenShift 3.11 clusters continues through 30 November 2020. Following retirement, remaining Azure Red Hat OpenShift 3.11 clusters will be shut down to prevent security vulnerabilities.</p>
        <p>Follow this guide to <a href="https://docs.microsoft.com/en-us/azure/openshift/tutorial-create-cluster">create an Azure Red Hat OpenShift 4 cluster</a>. If you have specific questions, please <a href="mailto:arofeedback@microsoft.com">contact us</a></p>
        <hr>
        <% end %>
        <% if (distro_key == "openshift-aro" && version == "4") %>
        <font size="+1" color="red">
          <hr>
          <b>Important</b>
        </font>
        <p>Azure Red Hat OpenShift is supported by Red Hat and Microsoft. As of February 2021, the documentation will be hosted by Microsoft and Red Hat as outlined below.</p>
        <hr>
        <% end %>
        <%= content %>
      </div>
    </div>
  </div>
  <script src="https://assets.openshift.net/content/modernizr.js" type="text/javascript"></script>
  <script src="https://assets.openshift.net/content/subdomain.js" type="text/javascript"></script>
  <script src="https://assets.openshift.net/content/nav-tertiary.js" type="text/javascript"></script>
  <script src="https://docs.openshift.com/container-platform/4.1/_javascripts/bootstrap-offcanvas.js" type="text/javascript"></script>
  <script src="https://docs.openshift.com/container-platform/4.1/_javascripts/reformat-html.js" type="text/javascript"></script>
  <script src="https://docs.openshift.com/container-platform/4.1/_javascripts/hc-search.js" type="text/javascript"></script>
  <script src="https://docs.openshift.com/container-platform/4.1/_javascripts/page-loader.js" type="text/javascript"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.6/clipboard.min.js" type="text/javascript"></script>
  <script src="https://docs.openshift.com/container-platform/4.1/_javascripts/clipboard.js" type="text/javascript"></script>
  <script src="https://docs.openshift.com/container-platform/4.1/_javascripts/collapsible.js" type="text/javascript"></script>
  <script>
  var dk = '<%= distro_key %>';
  var version = '<%= version %>';

  var distros = {
    'openshift-origin': ['docs_origin', version],
    // specific labels are used for OSD instead of the URL filter, due to its unusual URL structure; assume v4
    'openshift-dedicated': ['docs_dedicated_v4'],
    'openshift-online': ['docs_online', version],
    'openshift-enterprise': ['docs_cp', version],
    'openshift-telco': ['docs_telco', version],
    'openshift-aro' : ['docs_aro', version],
    'openshift-rosa' : ['docs_rosa'],
    'openshift-acs' : ['docs_acs', version],
    'openshift-serverless' : ['docs_serverless', version],
    'openshift-pipelines' : ['docs_pipelines', version],
    'openshift-builds' : ['docs_builds', version],
    'openshift-gitops' : ['docs_gitops', version],
    'openshift-lightspeed' : ['docs_lightspeed', version],
    'openshift-service-mesh' : ['docs_service_mesh', version]
  };

  // only OSD v3 docs have the version variable specified
  if (dk == "openshift-dedicated" && version == "3") {
    distros['openshift-dedicated'] = ['docs_dedicated_v3']
  }

  distros[dk] ? hcSearchCategory.apply(null, distros[dk]) : hcSearchCategory("docs");
  </script>
  <script type="text/javascript">
  /*<![CDATA[*/
  $(document).ready(function() {
    $("[id^='topicGroup']").on('show.bs.collapse', function(event) {
      if (!($(event.target).attr('id').match(/^topicSubGroup/))) {
        $(this).parent().find("[id^='tgSpan']").toggleClass("fa-angle-right fa-angle-down");
      }
    });
    $("[id^='topicGroup']").on('hide.bs.collapse', function(event) {
      if (!($(event.target).attr('id').match(/^topicSubGroup/))) {
        $(this).parent().find("[id^='tgSpan']").toggleClass("fa-angle-right fa-angle-down");
      }
    });
    $("[id^='topicSubGroup']").on('show.bs.collapse', function() {
      $(this).parent().find("[id^='sgSpan']").toggleClass("fa-caret-right fa-caret-down");
    });
    $("[id^='topicSubGroup']").on('hide.bs.collapse', function() {
      $(this).parent().find("[id^='sgSpan']").toggleClass("fa-caret-right fa-caret-down");
    });
    $("[id^='topicSubSubGroup']").on('show.bs.collapse', function() {
      $(this).parent().find("[id^='ssgSpan']").toggleClass("fa-caret-right fa-caret-down");
    });
    $("[id^='topicSubSubGroup']").on('hide.bs.collapse', function() {
      $(this).parent().find("[id^='ssgSpan']").toggleClass("fa-caret-right fa-caret-down");
    });

    const collapsibleContent = document.getElementsByTagName("details");
    for (var i = 0; i < collapsibleContent.length; i++) {
      collapsibleContent[i].setAttribute("open", "");
    }

  });
  /*]]>*/
  </script>

  <%= render("_templates/_footer.html.erb", :distro_key => distro_key, :images_path => images_path) %>

  <!-- adjust page css based on breadcrumb and/or resize -->
  <script type="text/javascript">
    window.addEventListener('DOMContentLoaded', () => {
      if ($(window).width() >= 1008) {
        adjustSide();
        adjustToc();
        adjustMain();
      }
    });

    window.addEventListener('resize', () => {
      if ($(window).width() >= 1008) {
        adjustSide();
        adjustToc();
        adjustMain();
      } else if ($(window).width() < 1008) {
        sidebar.classList.remove('wide');
        document.querySelector('#hc-search').classList.remove('wide');
        if (sidebar.classList.contains('open')) {
          sidebar.style.display = 'block';
        } else {
          sidebar.style.display = 'none';
        }
        document.querySelector('.main').style.paddingTop = '0px';
      }
    });

    function adjustSide() {
      sidebar.classList.add('wide');
      document.querySelector('#hc-search').classList.add('wide');
      sidebar.style.display = 'block';
      document.querySelector('.sidebar').style.top = parseInt((document.querySelector('.breadcrumb').offsetHeight + 125), 10) + "px";
      document.querySelector('#hc-search').style.top = parseInt((document.querySelector('.breadcrumb').offsetHeight + 95), 10) + "px";
    }

    function adjustToc() {
      if (document.querySelector('#toc') !== null) {
        document.querySelector('#toc').style.top = parseInt((document.querySelector('.breadcrumb').offsetHeight + 90), 10) + "px";
      }
    }

    function adjustMain() {
      document.querySelector('html').style.scrollPaddingTop = parseInt((document.querySelector('.breadcrumb').offsetHeight + 90), 10) + "px";
      document.querySelector('.main').style.paddingTop = parseInt((document.querySelector('.breadcrumb').offsetHeight - 70), 10) + "px";
    }

  </script>

  <!-- remove toc active class when page is loaded -->
  <script type="text/javascript">
    window.addEventListener('DOMContentLoaded', () => {
      var tocItems = $("#toc a");

      for (let i = 0; i < tocItems.length; i++) {
        tocItems[i].classList.remove("toc-active");
      }
    })
  </script>

  <!-- maintain sidebar scroll position between page loads -->
  <script type="text/javascript">
    let sidebar = document.querySelector(".sidebar");
    let scrolltop = localStorage.getItem("sidebar-scroll");

    if (scrolltop == null) {
      sidebar.scrollTop = parseInt(top, 10);
    }

    window.addEventListener("beforeunload", () => {
      localStorage.setItem("sidebar-scroll", sidebar.scrollTop);
    });

    window.addEventListener('load', () => {
      sidebar.scrollTo(0, scrolltop)
    })
  </script>

  <!-- open/close the nav -->
  <script type="text/javascript">
    function closeNav() {
      let sidebar = document.querySelector(".sidebar");
      sidebar.style.display = "none";
      sidebar.classList.remove('open');
    }

    function openNav() {
      let sidebar = document.querySelector(".sidebar");
      let hc_search = document.querySelector('#hc-search');
      sidebar.style.display = "block";
      sidebar.style.top = "0px";
      hc_search.style.top = 'unset';
      sidebar.classList.add('open');
    }
  </script>

  <!-- clear and add toc-active to clicked toc link -->
  <script type="text/javascript">
  $("#toc a").click(function() {
    var tocItems = $("#toc a");
    for (let i = 0; i < tocItems.length; i++) {
      tocItems[i].classList.remove("toc-active");
    }
    this.classList.add("toc-active");
  });
  </script>

  <!-- update active toc class when mouse scrolls -->
  <script type="text/javascript">
    window.addEventListener('DOMContentLoaded', () => {
      window.addEventListener("wheel", () => {

        const ioConfiguration = {
          "rootMargin": "-120px 0px -400px 0px",
          "threshold": 0
        };

        const observer = new IntersectionObserver(setCurrent, ioConfiguration, entries => {
          entries.forEach(entry => {
            var id = entry.target.getAttribute('id');
            //fight with js
            document.querySelector(`#toc li a[href="#${id}"]`).classList.remove('toc-active');
          });
        });

        //track all h1-4 headings that have an id
        document.querySelectorAll('.main h2[id], .main h3[id]').forEach((h) => {
          observer.observe(h);
        });

        //runs when the IntersectionObserver fires
        function setCurrent(e) {
          var allTocLinks = document.querySelectorAll("#toc li a");
          if (allTocLinks !== undefined) {
            e.map(i => {
              if (i.isIntersecting && i.intersectionRatio >= 1) {
                allTocLinks.forEach(link => link.classList.remove("toc-active"));
                document.querySelector(`#toc li a[href="#${i.target.id}"]`).classList.add('toc-active')
              }
            })
          }
        };

        //make clicked toc item active and stop IntersectionObserver
        $("#toc a").click(function() {
          //stop tracking all h1-4 headings that have an id
          document.querySelectorAll('.main h2[id], .main h3[id]').forEach((h) => {
            observer.unobserve(h);
          });
          var tocItems = $("#toc a");
          if (tocItems !== undefined) {
            for (let i = 0; i < tocItems.length; i++) {
              tocItems[i].classList.remove("toc-active");
            };
            this.classList.add("toc-active");
          }
        })
      })
    })
  </script>

  <!--handle page scroll top and bottom, add toc-active -->
  <script type="text/javascript">
    document.addEventListener('scroll', () => {
      //scroll to bottom
      if(document.documentElement.scrollHeight === window.pageYOffset + window.innerHeight) {
        var tocItems = $("#toc a");
        for (let i = 0; i < tocItems.length; i++) {
          tocItems[i].classList.remove("toc-active")
          };
          tocItems[tocItems.length - 1].classList.add("toc-active");
        };
      //scroll to top
      if(window.pageYOffset === 0) {
        var tocItems = $("#toc a");
        for (let i = 0; i < tocItems.length; i++) {
          tocItems[i].classList.remove("toc-active");
          };
          tocItems[0].classList.add("toc-active");
        };
      })
  </script>

  <!-- adjust alerts on mobile -->
  <script type="text/javascript">
    alert = document.querySelector('#support-alert')
    window.addEventListener("wheel", () => {
      if ($(window).width() < 1008) {
        //adjust alert
        if(window.pageYOffset > 0) {
          if(alert !== null) {
            document.querySelector('#support-alert').style.position = "fixed";
            document.querySelector('#support-alert').style.bottom = "0px";
            document.querySelector('#support-alert').style.margin = "5px";
            document.querySelector('#support-alert').style.zIndex = "9999999";
          }
        }
      }
   });
    window.addEventListener('resize', () => {
      if ($(window).width() >= 1008) {
        if(alert !== null) {
          document.querySelector('#support-alert').style.removeProperty('position');
          document.querySelector('#support-alert').style.removeProperty('bottom');
          document.querySelector('#support-alert').style.removeProperty('margin');
          document.querySelector('#support-alert').style.removeProperty('zIndex');
        }
      }
    })
  </script>

  <!-- hide footer after 3 seconds -->
  <script type="text/javascript">
    const hideFooter = () => {
      document.querySelector('footer#rh').style.display = "none";
    };

    window.addEventListener('load', function() {
      setTimeout(hideFooter, 3000);
    });
  </script>
</body>
</html>
