<!DOCTYPE html>
<!--[if IE 8]> <html class="ie8"> <![endif]-->
<!--[if IE 9]> <html class="ie9"> <![endif]-->
<!--[if gt IE 9]><!-->
<html>
<!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <%= (distro_key == "openshift-webscale") ? '<meta name="robots" content="noindex,nofollow">' : '' %>
  <title><%= [topic_title, subgroup_title].compact.join(' - ') %> | <%= group_title %> | <%= distro %> <%= version %></title>
  <link href="https://assets.openshift.net/content/subdomain.css" rel="stylesheet" type="text/css">
  <link href="https://docs.openshift.com/container-platform/4.1/_stylesheets/docs.css" rel="stylesheet" />
  <link href="https://docs.openshift.com/container-platform/4.1/_stylesheets/search.css" rel="stylesheet" />
  <link href="https://docs.openshift.com/container-platform/4.1/_stylesheets/autumn.css" rel="stylesheet" />
  <link href="https://assets.openshift.net/content/subdomain/touch-icon-precomposed.png" rel="apple-touch-icon-precomposed" type="image/png">
  <link href="https://assets.openshift.net/content/subdomain/favicon32x32.png" rel="shortcut icon" type="text/css">
  <link href="https://assets.openshift.net/content/osh-nav-footer.css" rel="stylesheet" type="text/css" media="screen, print" />
  <!--[if IE]><link rel="shortcut icon" href="https://assets.openshift.net/content/subdomain/favicon.ico"><![endif]-->
  <!-- or, set /favicon.ico for IE10 win -->
  <meta content="OpenShift" name="application-name">
  <meta content="#000000" name="msapplication-TileColor">
  <meta content="https://assets.openshift.net/content/subdomain/touch-icon-precomposed.png" name="msapplication-TileImage">
  <%= render("_templates/_analytics.html.erb", :distro_key => distro_key) %>
</head>
<body onload="selectVersion('<%= version %>');">
  <%= render("_templates/_topnav.html.erb", :distro_key => distro_key) %>
  <%
    unsupported_versions = ["3.0", "3.1", "3.2", "3.3", "3.4", "3.5", "3.6", "3.7", "3.9", "3.10", "4.1", "4.2", "4.3", "4.4", "4.5"];
  %>
  <div class="container">
    <p class="toggle-nav visible-xs pull-left">
      <button class="btn btn-default btn-sm" type="button" data-toggle="offcanvas">Toggle nav</button>
    </p>
    <ol class="breadcrumb">
      <li class="sitename">
        <a href="/"><%= site_name %></a>
      </li>
      <li class="hidden-xs active">
        <% if (distro_key == "openshift-enterprise") %>
          <% if (version == "3.10" || version == "3.11" || version >= "3.3") %>
            <a href="https://docs.openshift.com/container-platform/<%= version %>/welcome/index.html">
              <%= distro %>
            </a>
          <% else %>
            <a href="https://docs.openshift.com/enterprise/<%= version %>/welcome/index.html">
              <%= distro %>
            </a>
          <% end %>
          <select id="version-selector" onchange="versionSelector(this);">
              <option value="4.9">4.9</option>
              <option value="4.8">4.8</option>
              <option value="4.7">4.7</option>
              <option value="4.6">4.6</option>
              <option value="4.5">4.5</option>
              <option value="4.4">4.4</option>
              <option value="4.3">4.3</option>
              <option value="4.2">4.2</option>
              <option value="4.1">4.1</option>
              <option value="3.11">3.11</option>
              <option value="3.10">3.10</option>
              <option value="3.9">3.9</option>
              <option value="3.7">3.7</option>
              <option value="3.6">3.6</option>
              <option value="3.5">3.5</option>
              <option value="3.4">3.4</option>
              <option value="3.3">3.3</option>
              <option value="3.2">3.2</option>
              <option value="3.1">3.1</option>
              <option value="3.0">3.0</option>
          </select>
        <% else %>
          <%= breadcrumb_root %>
        <% end %>
      </li>
      <li class="hidden-xs active">
        <%= breadcrumb_group %>
      </li>
      <%= breadcrumb_subgroup_block %>
      <li class="hidden-xs active">
        <%= breadcrumb_topic %>
      </li>

      <% if (distro_key != "openshift-origin" && distro_key != "openshift-aro") %>
      <span text-align="right" style="float: right !important">
        <a href="https://github.com/openshift/openshift-docs/commits/<%= (distro_key == "openshift-enterprise") ? "enterprise-#{version}" : "dedicated-4" %>/<%= repo_path %>">
          Page history
        </a>
        <%
          unless (unsupported_versions.include? version)
        %>
        /
        <a href="https://github.com/openshift/openshift-docs/issues/new?title=<%= (distro_key == "openshift-enterprise") ? "[enterprise-#{version}] Issue in file #{repo_path}" :
          ((distro_key == "openshift-dedicated") ? "[dedicated] Issue in file #{repo_path}" : "[online] Issue in file #{repo_path}") %>">
          Open an issue
        </a>
        <% if (version == "4.5") %>
        /
        <select onchange="selectLang(this);">
          <option value="en-us">English</option>
          <option value="zh-cn">简体中文</option>
          <option value="ja-jp">日本語</option>
        </select>
        <% end %>
        <% end %>
      </span>
      <% end %>
    </ol>
    <div class="row row-offcanvas row-offcanvas-left">
      <div class="col-xs-8 col-sm-3 col-md-3 sidebar sidebar-offcanvas">
        <div class="row-fluid">
          <div id="hc-search">
            <input id="hc-search-input" type="text">
            <button id="hc-search-btn">Search</button>
          </div>

          <div id="hc-search-modal">
            <div id="hc-modal-content">
              <span id="hc-modal-close">&times;</span>
              <div id="hc-search-results-wrapper">
                <div id="hc-search-results"></div>
                <div id="hc-search-progress-indicator" class="text-center search-progress-indicator"><i class="fa fa-circle-o-notch fa-spin" style="font-size:42px"></i></div>
                <div class="text-center">
                  <button id="hc-search-more-btn">Show more results</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <%= render("_templates/_nav_openshift.html.erb", :distro_key => distro_key, :navigation => navigation, :group_id => group_id, :topic_id => topic_id, :subgroup_id => subgroup_id, :subtopic_shim => subtopic_shim, :subsubgroup_id => subsubgroup_id) %>
      </div>
      <div class="col-xs-12 col-sm-9 col-md-9 main">
        <div class="page-header">
          <h1><%= article_title %></h1>
        </div>
        <% if (version == "4.10" || distro_key == "openshift-webscale") %>
          <font size="+1" color="red">This documentation is work in progress and might not be complete or fully tested.</font>
          <div id="annoying-box"
            style="position: fixed; top: 100px; left: 10px; width: 100px; height: 100px; color: red">
              This documentation is work in progress and might not be complete or fully tested.
          </div>
        <% end %>
        <%
           if ((unsupported_versions.include? version) && (distro_key == "openshift-enterprise"))
        %>
          <font size="+1" color="red">You are viewing documentation for a release that is no longer supported. The latest supported version of version 3 is <a href="https://docs.openshift.com/container-platform/3.11/welcome/index.html">[3.11]</a>. For the most recent version 4, see <a href="https://docs.openshift.com/container-platform/latest/welcome/index.html">[4]</a></font>
          <div id="annoying-box"
            style="position: fixed; top: 100px; left: 10px; width: 100px; height: 100px; color: red">
              You are viewing documentation for a release that is no longer supported. The latest supported version of version 3 is <a href="https://docs.openshift.com/container-platform/3.11/welcome/index.html">[3.11]</a>. For the most recent version 4, see <a href="https://docs.openshift.com/container-platform/latest/welcome/index.html">[4]</a>
          </div>
        <% end %>
        <% if (distro_key == "openshift-aro" && version == "3") %>
          <font size="+1" color="red">
            <hr>
            <b>Important</b>
            </font>

            <p>Azure Red Hat OpenShift 3.11 <b>will be retired 30 June 2022</b>. Support for creation of new Azure Red Hat OpenShift 3.11 clusters continues through 30 November 2020. Following retirement, remaining Azure Red Hat OpenShift 3.11 clusters will be shut down to prevent security vulnerabilities.</p>

            <p>Follow this guide to <a href="https://docs.microsoft.com/en-us/azure/openshift/tutorial-create-cluster">create an Azure Red Hat OpenShift 4 cluster</a>. If you have specific questions, please <a href="mailto:arofeedback@microsoft.com">contact us</a></p>
            <hr>
        <% end %>
        <% if (distro_key == "openshift-aro" && version == "4") %>
          <font size="+1" color="red">
            <hr>
            <b>Important</b>
            </font>
            <p>Azure Red Hat OpenShift is supported by Red Hat and Microsoft. As of February 2021, the documentation will be hosted by Microsoft and Red Hat as outlined below.</p>
            <hr>
        <% end %>

        <%= content %>
      </div>
    </div>
  </div>

  <script src="https://assets.openshift.net/content/modernizr.js" type="text/javascript"></script>
  <script src="https://assets.openshift.net/content/subdomain.js" type="text/javascript"></script>
  <script src="https://assets.openshift.net/content/nav-tertiary.js" type="text/javascript"></script>
  <script src="https://docs.openshift.com/container-platform/4.1/_javascripts/bootstrap-offcanvas.js" type="text/javascript"></script>
  <script src="https://docs.openshift.com/container-platform/4.1/_javascripts/reformat-html.js" type="text/javascript"></script>
  <script src="https://docs.openshift.com/container-platform/4.1/_javascripts/hc-search.js" type="text/javascript"></script>
  <script src="https://docs.openshift.com/container-platform/4.1/_javascripts/page-loader.js" type="text/javascript"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.6/clipboard.min.js" type="text/javascript"></script>
  <script src="https://docs.openshift.com/container-platform/4.1/_javascripts/clipboard.js" type="text/javascript"></script>
  <script src="https://docs.openshift.com/container-platform/4.1/_javascripts/collapsible.js" type="text/javascript"></script>

  <script>
  var dk = '<%= distro_key %>';
  var version = '<%= version %>';

  var distros = {
    'openshift-origin': ['docs_origin', version],
    // specific labels are used for OSD instead of the URL filter, due to its unusual URL structure; assume v4
    'openshift-dedicated': ['docs_dedicated_v4'],
    'openshift-online': ['docs_online', version],
    'openshift-enterprise': ['docs_cp', version],
    'openshift-aro' : ['docs_aro', version],
    'openshift-rosa' : ['docs_rosa'],
    'openshift-acs' : ['docs_acs', version]
  };

  // only OSD v3 docs have the version variable specified
  if (dk == "openshift-dedicated" && version == "3") {
      distros['openshift-dedicated'] = ['docs_dedicated_v3']
    }

  distros[dk] ? hcSearchCategory.apply(null, distros[dk]) : hcSearchCategory("docs");
  </script>

  <script type="text/javascript">
    /*<![CDATA[*/
    $(document).ready(function() {
      $("[id^='topicGroup']").on('show.bs.collapse', function (event) {
        if (!($(event.target).attr('id').match(/^topicSubGroup/))) {
          $(this).parent().find("[id^='tgSpan']").toggleClass("fa-angle-right fa-angle-down");
        }
      });
      $("[id^='topicGroup']").on('hide.bs.collapse', function (event) {
        if (!($(event.target).attr('id').match(/^topicSubGroup/))) {
          $(this).parent().find("[id^='tgSpan']").toggleClass("fa-angle-right fa-angle-down");
        }
      });
      $("[id^='topicSubGroup']").on('show.bs.collapse', function () {
        $(this).parent().find("[id^='sgSpan']").toggleClass("fa-caret-right fa-caret-down");
      });
      $("[id^='topicSubGroup']").on('hide.bs.collapse', function () {
        $(this).parent().find("[id^='sgSpan']").toggleClass("fa-caret-right fa-caret-down");
      });
      $("[id^='topicSubSubGroup']").on('show.bs.collapse', function () {
        $(this).parent().find("[id^='ssgSpan']").toggleClass("fa-caret-right fa-caret-down");
      });
      $("[id^='topicSubSubGroup']").on('hide.bs.collapse', function () {
        $(this).parent().find("[id^='ssgSpan']").toggleClass("fa-caret-right fa-caret-down");
      });

      const collapsibleContent = document.getElementsByTagName("details");
        for (var i=0; i < collapsibleContent.length; i++) {
          collapsibleContent[i].setAttribute("open", "");
        }

    });
    /*]]>*/
  </script>
  <%= render("_templates/_footer.html.erb", :distro_key => distro_key, :images_path => images_path) %>
</body>
</html>
